html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font:13px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4em;
  background-color: #fff;
  color: #333333;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.contentA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img {
  margin: 10px;
  width: 424px;
  height: 424px;
  max-width: 424px;
  max-height: 424px;
}
