html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font:13px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4em;
  background-color: #fff;
  color: #333333;
  display: block;
  align-content: center;
}
.site-logo {
  line-height: 1.4em;
  cursor: auto;
  display: block;
}
.site-logo img {
  height: 22px;
  width: auto;
  display: block;
}

.wrapper {
  align-content: center;
  align-self: center;
}
.contentA {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
img {
  margin: 10px;
  width: 424px;
  height: 424px;
  max-width: 424px;
  max-height: 424px;
}
